---
layout: page
title: Home
order: 1
---

{% assign posts_collate = site.posts %}

<h2>Latest Posts</h2>
<ul>
{% for post in posts_collate limit:4 %}
    {% if post != null %}
        <li class="post">
            {{ post.date | date_to_string }} &raquo; <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <div>{{ post.excerpt }}</div>
            <span><a href="{{ post.url }}">Read More</a></span>
        </li>   
    {% endif %}
{% endfor %}
</ul>


{% capture o%}
# All Posts
{% endcapture %}
{{ o | markdownify }}
{% include JB/posts_collate %}